@page "{categoryId?}"
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="shop-category-area pt-20px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-first col-md-12 order-md-first order-1 mb-md-60px mb-lm-60px">
                <div class="shop-sidebar-wrap">

                    <div class="sidebar-widget-search">
                        <form method="post" asp-page-handler="SearchProducts" id="widgets-searchbox">
                            <input class="input-field" type="text" placeholder="Поиск" name="name">
                            <button class="widgets-searchbox-btn" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                    </div>

                    <div class="sidebar-widget">
                        <h4 class="sidebar-title">Категории</h4>
                        <div class="sidebar-widget-category">
                            <form method="post" asp-page-handler="CategoriesProducts">
                                @foreach (var parent in Model.Categories.Where(x => x.ParentCategoryId == null))
                                {
                                    <label class="text-lg-center">@parent.Title</label>
                                    <div class="select">
                                        <select name="categoryId">
                                            <option value="hide">--Выберите категорию</option>
                                            @foreach (var child in Model.Categories.Where(x => x.ParentCategoryId == parent.Id))
                                            {
                                                <option name="categoryId" value="@child.Id">@child.Title</option>
                                            }
                                        </select>
                                    </div>
                                }
                                <button class="btn btn-primary" type="submit">Выбрать</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 order-lg-last col-md-12 order-md-last order-2">
                <div class="shop-top-bar d-flex">
                    <div class="shop-tab nav">
                        <a class="active" href="#shop-grid" data-bs-toggle="tab">
                            <i class="fa fa-th" aria-hidden="true"></i>
                        </a>
                        <a href="#shop-list" data-bs-toggle="tab">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="select-shoing-wrap d-flex align-items-center">
                        <div class="shot-product">
                            <p>Sort By:</p>
                        </div>
                        <div class="shop-select">
                            <select class="shop-sort">
                                <option data-display="Relevance">Relevance</option>
                                <option value="1"> Name, A to Z</option>
                                <option value="2"> Name, Z to A</option>
                                <option value="3"> Price, low to high</option>
                                <option value="4"> Price, high to low</option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="shop-bottom-area">
                    <div class="row">
                        <div class="col">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="shop-grid">
                                    <div class="row mb-n-30px">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            @foreach (var product in Model.Products)
                                            {
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30px" data-aos="fade-up"
                                                     data-aos-delay="200">
                                                    <div class="product">
                                                        <div class="thumb">
                                                            <a asp-page="Product1" asp-route-name="@product.Name.Replace(" ", "-")" class="image">
                                                                <img src="@Url.Content("/images/"+product.Image.FirstOrDefault())" />
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <div>
                                                                @{
                                                                    string cssClass = "";
                                                                    string message = "";
                                                                    if (product.StockCount == 0)
                                                                    {
                                                                        cssClass = "text-danger";
                                                                        message = "Нет на складе";
                                                                    }
                                                                    else if (product.StockCount <= 10)
                                                                    {
                                                                        cssClass = "text-warning";
                                                                        message = "Осталось совсем чуть-чтуь";
                                                                    }
                                                                }
                                                                @if (product.StockCount <= 10)
                                                                {
                                                                    <div class="notification is-paddingless has-text-centered @cssClass">
                                                                        @message
                                                                    </div>
                                                                }
                                                            </div>
                                                            <h5 class="title">
                                                                <a asp-page="Product" asp-route-name="@product.Name.Replace(" ", "-")">
                                                                    @product.Name
                                                                </a>
                                                            </h5>
                                                            <span class="price">
                                                                <span class="new">$38.50</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
