@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="section is-8">
    <div class="columns is-multiline is-mobile">
        @{
            foreach (var p in Model.Products)
            {
                <div class="column is-3-desktop is-4-tablet is-6-mobile">
                    <a asp-page="Product" asp-route-name="@p.Name.Replace(" ", "-")">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    @if (string.IsNullOrEmpty(p.Image))
                                    {
                                        <img src="~/images/no_image.png"/>
                                    }
                                    else
                                    {
                                        <img src="/products/images/@p.Image"/>
                                    }
                                </figure>
                            </div>
                            <div class="card-content">
                                @{
                                    string cssClass = "";
                                    string message = "";
                                    if (p.StockCount == 0)
                                    {
                                        cssClass = "is-danger";
                                        message = "Нет на складе";
                                    }
                                    else if (p.StockCount <= 10)
                                    {
                                        cssClass = "is-warning";
                                        message = "Осталось совсем чуть-чтуь";
                                    }
                                }
                                @if (p.StockCount <= 10)
                                {
                                    <div class="notification is-paddingless has-text-centered @cssClass">
                                        @message
                                    </div>
                                }
                                <p class="title is-size-5">
                                    @p.Name - @p.Value
                                </p>
                                <p class="subtitle">
                                    @p.Description
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>
<div class="section is-4">
    <form method="post">
        <label>Категории</label>
        <div class="control">

            @foreach (var parent in Model.Categories.Where(x => x.ParentCategoryId == null))
            {
                <label>@parent.Title</label>
                <select name="categoryId">
                    <option value="hide">--Выберите категорию--</option>
                    @foreach (var child in Model.Categories.Where(x => x.ParentCategoryId == parent.Id))
                    {
                        <option name="categoryId" value="@child.Id">@child.Title</option>
                    }
                </select>
            }
            <button type="submit" name="categoryId" id="categoryId">Выбрать</button>
        </div>
    </form>
    <form>
        <p>
            Title: <input type="text" asp-for="Name" />
            <input type="submit"/>
        </p>
    </form>
</div>